<div [ngStyle]="{'backgroundColor': (scrollHeight < 900 || scrollHeight === undefined) ? '#EBC046' : '#FFFFFF'}" 
    (click)="scrollToSection('home')" class="pageBlock">
</div>
<div [ngStyle]="{'backgroundColor': (scrollHeight < 1800 && scrollHeight >= 900) ? '#EBC046' : '#FFFFFF'}" 
    (click)="scrollToSection('about')" class="pageBlock">
</div>
<div [ngStyle]="{'backgroundColor': (scrollHeight < 3000 && scrollHeight >= 1800) ? '#EBC046' : '#FFFFFF'}" 
    (click)="scrollToSection('portfolio')" class="pageBlock">
</div>