<div class="row illustration">
  <div class="column">
    <img class="slides"src="../assets/images/portfolio_1.JPG">
    <img class="slides"src="../assets/images/portfolio_9.jpg">
  </div>
  <div class="column">
    <img class="slides"src="../assets/images/portfolio_3.JPG">
    <img class="slides"src="../assets/images/portfolio_8.jpg">
  </div>
  <div class="column">
    <img class="slides"src="../assets/images/portfolio_10.JPG">
    <img class="slides"src="../assets/images/portfolio_11.jpg">
  </div>
</div>
