<div class="intro-wrapper">
    <div class="intro-text"> 
        <p>I believe that all great learning comes from failure.</p>
        <p>That if we stop to examine our flaws we can build ourselves up</p>
        <button routerLink ="/" routerLinkActive="active">Enter</button>
    </div>  
    <div class="video-wrapper">
        <video width="100%" autoplay>
            <source src="../../assets/videos/intro.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>
    </div>
</div>
