.social-media-links { 
    position: fixed;
    list-style-type: none;
    bottom: 65px;
    right: 40px;
    
    li img { 
        width:25px; 
        padding:10px;
    }
}


@media only screen and (max-width: 549px) {

    .social-media-links { 
        bottom: 35px;
        right: 10px;
    }
}