@import '../../../styles.scss';

.aboutSection { 
    background: url('../../../assets/images/rough_Background.757ae741d51f99d17d12.png') 0 0/cover no-repeat, 
	linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(25,25,25,1) 66%, rgba(0,0,0,1) 100%);
    margin-bottom: 0;
    padding: 0;
    height: 100%;
    width:100%;
}
/*About*/

.about
{
	width:100%;
	color: white;
	font-family:'Helvetica Neue', 'Raleway',Arial, Helvetica, sans-serif;
	
}
.aboutSection
{
	background-repeat: no-repeat;
    background-size: cover;
	height:$full-height;
}
.aboutMain
{
	float:left;
	position: absolute;
	font-family:'Hevetica Neue','Raleway',Arial, Helvetica, sans-serif;
	font-weight:100;
	font-size:100px;
	margin-left:10%;
	margin-right:50%;
}
.aboutImage
{
    border:3px solid white;
	z-index:99;
	margin-top:200px;
	margin-right:10%;
	width:25%;
	min-width:350px;
	float: right;
	-webkit-box-shadow: 70px 70px 0px 0px $primary;
	-moz-box-shadow: 70px 70px 0px 0px $primary;
	box-shadow: 70px 70px 0px 0px $primary;
}
.aboutImage_Wrapper
{
	position:relative;
}
.aboutPicText
{
	position:absolute;
	font-size:2em;
}
.aboutLine1
{
	position:relative;
	margin-top:30%;
	margin-left:-30px;
}

.illustrate{
	opacity:0;
	transform: translateY(50px);
    transition:all 2s ease-out;
}
.illustrate.fade-in{
	opacity: 1;
	transform: translateY(0);
}
.shortBio
{
	position:relative;
}
.sectionAboutText
{
	font-size: 15px;
    font-style: italic;
    float: left;
    margin-top: -15%;
    margin-right: 60%;
    margin-left: 20%;
    opacity: 0;
    transform: translateY(50px);
    transition: all 2s ease-out;
    padding: 10px;
    border: 1pxsolid white;
}

.sectionAboutText.fade-in{
	opacity: 1;
	transform: translateY(0);
}
.sectionAboutText:hover
{
	color:grey;
}


@media screen and (max-width:48em) {
    .aboutImage {
        float: none;
    }
}