@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Arapey");
@import url("../app.component.css");

.illustration{
    background:black;
}
.aboutPicture{
    width:500px;
    overflow:hidden;
}