/* Colours */
/* $primary: #D46A6A;
$secondary: #EBC046; */
$primary: #EBC046;
$secondary: #5fcf9e;
/*$secondary: #AC9BFF; */
$background: #342E29;
$accent: #4D6CFA;
$light-bg:#D2D2D2; 
$dark-bg: #3E363F;

/* Text */

$full-height: 100vh;
$background: black;
$test-color: #123123;

$border-main: 1px solid white;
$p-sm:10px;