@import url('./master_scss/_variables.scss');

/* You can add global styles to this file, and also import other style files */

// $primary: #D46A6A;
$full-height: 100vh;
$background: #0D0D0D;

.row{
    margin-top:100px;
}

.section { 
    margin: 0;
    padding: 0;
}

.column h2{
    margin-left: 30%;
}
.content { 
    position: absolute;
}


div.viewport {
	height: $full-height;
	overflow: auto ;
	width: 100% ;
}
div.viewport-a {
	position: relative ;
}
.content
{
	position: absolute ;
}
.row 
{
	display:flex;
	justify-content: center;
}
.column h2
{
	position: center;
}
.column img{
	width:400px;
	padding: 30px;
	justify-content: center;
  }
.routerWrapper{
	position: absolute
}
.routerLink
{
	margin-left: 300px;
	margin-top:100px;
	color:white;
	text-decoration-style: none;
	font:Raleway; 
	font-size:20px;
}
/*Scroll Animation*/
.animateBlock {
	display: inline-block;
	opacity: 0;
	filter: alpha(opacity=0);
	position: relative;
}
.animateBlock.aboutMe {
	transform: translateX(20%);
	animation:come-in 2s ease forwards;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}
.animateBlock.aboutPicture
{
	right:-20%;
}
.animateBlock.left {
	transform: translateY(20%);
	animation:come-in 4s ease forwards;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.left.animated {
	left: 0%;
	opacity: 1;
	filter: alpha(opacity=100);
}

.right.animated {
	right: 0%;
	opacity: 1;
	filter: alpha(opacity=100);
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.section{
	width:100%;
	height:100%;
}


.short_Slide_Up { 
	animation: short_Slide_Up 1s ease-in-out forwards; 
}

.title_Short_Slide_Up { 
	animation: title_Short_Slide_Up 3s ease-in-out forwards;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/*MOBILE*/

@media screen and (max-width:100em) {
    .quote{
    }
    .quoteText{
        margin-left:100;
        left:0;
    }
}
@media screen and (max-width:90em) {
    .aboutLine1 svg {}

    .aboutImage {
        margin-top: 250px;
        margin-right: 20%;
    }

    .illustrate {
        font-size: 130px;
    }

    .aboutMain {}

    .shortBio {
        margin-right: 0;
        margin-left: 10%;
    }

    .aboutLine1 {
        margin-left: -120px;
        top: 150px;
    }

    .portHeader {
        margin-right: 15%;
        margin-left: 3%;
    }

    .portHeadContainer {
        margin-top: 10%;
    }
}

@media screen and (max-width: 55em) {
    #heroText {
        text-align: left;
        position: absolute;
        top: 55%;
        margin-left: 0;
        color: white;
    }

    .title {
        margin: 0;
        padding-right: 20%;
        padding-bottom: 0;
        font-family: 'Bebas Neue', cursive;
        font-weight: 100;
        font-size: 20vw;
        color: white;
    }

    .titleInfo {
        padding-right: 20%;
        display: block;
        font-family: 'Raleway', 'Arial', 'Helvetica', 'sans-serif';
        font-weight: 100;
        font-size: 4vw;
        color: white;
    }

    .illustrate {
        font-size: 70%;
    }

    .aboutLine1 {
        display: none;
    }

    .sectionAboutText {
        margin-top: 0%;
        margin-right: 30%;
        margin-left: 0%;
    }

    .aboutImage {
        float: left;
        width: 50%;
        min-width: 350px;
        position: relative;
        box-shadow: none;
    }

    .rowPort {
        display: block;
        margin-top: 7%;
    }

    .columnPort {
        flex: 50%;
    }

    .slideContainer {
        overflow: hidden;
        max-width: 100%;
        height: 600px;
    }

    .slides {
        max-width: 100%;
    }
    .quoteText {
       
    }
} 

@media screen and (max-width:48em) {

    .aboutImage {
        float: none;
    }

}  
@media screen and (max-width:100em) {
    .quote{
    }
    .quoteText{
        margin-left:100;
        left:0;
    }
}
@media screen and (max-width:90em) {
    .aboutLine1 svg {}

    .aboutImage {
        margin-top: 250px;
		margin-right: 20%;
    }

    .illustrate {
        font-size: 130px;
    }

    .aboutMain {}

    .shortBio {
        margin-right: 0;
        margin-left: 10%;
    }

    .aboutLine1 {
        margin-left: -120px;
        top: 150px;
    }

    .titleInfo {
        -webkit-box-shadow: 0px -60px 0px 100px $primary;
        -moz-box-shadow: 0px -60px 0px 100px $primary;
        box-shadow: 0px -60px 0px 100px $primary;
    }

    .portHeader {
        margin-right: 15%;
        margin-left: 3%;
    }

    .portHeadContainer {
        margin-top: 10%;
    }
}

@media screen and (max-width: 55em) {
    #heroText {
        text-align: left;
        position: absolute;
        top: 55%;
        margin-left: 0;
        color: white;
    }

    .title {
        margin: 0;
        padding-right: 20%;
        padding-bottom: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 20vw;
        background: $primary;
        color: white;
    }

    .titleInfo {
        padding-right: 20%;
        display: block;
        font-family: 'Raleway', 'Arial', 'Helvetica', 'sans-serif';
        font-weight: 100;
        font-size: 4vw;
        -webkit-box-shadow: 0px -60px 0px 20px $primary;
        -moz-box-shadow: 0px -60px 0px 20px $primary;
        box-shadow: 0px -60px 0px 20px $primary;
        color: white;
    }

    .illustrate {
        font-size: 70%;
    }

    .aboutLine1 {
        display: none;
    }

    .sectionAboutText {
        margin-top: 0%;
        margin-right: 30%;
        margin-left: 0%;
    }

    .aboutImage {
        float: left;
        width: 50%;
        min-width: 350px;
        positon: relative;
        box-shadow: none;
    }

    .rowPort {
        display: block;
        margin-top: 7%;
    }

    .columnPort {
        flex: 50%;
    }

    .slideContainer {
        overflow: hidden;
        max-width: 100%;
        height: 600px;
    }

    .slides {
        max-width: 100%;
    }
    .quoteText {
       
    }
}
