@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Arapey");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('../app/global_scss/animations.scss');

/* You can add global styles to this file, and also import other style files */

$primary: #D46A6A;
$full-height: 100vh;
$background: #0D0D0D;

.row{
    margin-top:100px;
}

.section { 
    margin: 0;
    padding: 0;
}

.column h2{
    margin-left: 30%;
}
.content { 
    position: absolute;
}


div.viewport {
	height: $full-height ;
	overflow: auto ;
	width: 100% ;
}
div.viewport-a {
	position: relative ;
}
.content
{
	position: absolute ;
}
.row 
{
	display:flex;
	justify-content: center;
}
.column h2
{
	position: center;
}
.column img{
	width:600px;
	padding: 30px;
	justify-content: center;
  }
.routerWrapper{
	position: absolute
}
.routerLink
{
	margin-left: 300px;
	margin-top:100px;
	color:white;
	text-decoration-style: none;
	font:Raleway; 
	font-size:20px;
}
/*Scroll Animation*/
.animateBlock {
	display: inline-block;
	opacity: 0;
	filter: alpha(opacity=0);
	position: relative;
}
.animateBlock.aboutMe {
	transform: translateX(20%);
	animation:come-in 2s ease forwards;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}
.animateBlock.aboutPicture
{
	right:-20%;
}
.animateBlock.left {
	transform: translateY(20%);
	animation:come-in 4s ease forwards;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.left.animated {
	left: 0%;
	opacity: 1;
	filter: alpha(opacity=100);
}

.right.animated {
	right: 0%;
	opacity: 1;
	filter: alpha(opacity=100);
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
/*Navbar*/
ul
{
	margin:0;
	padding:0;
	text-decoration: none;
	list-style:none;
}
li {
	padding:0;
	margin:0;
}
nav {
	text-align:center;
	width:100%;
	position:relative;
	height:auto;
	overflow:hidden;
	background:none;
}
nav ul {
	text-align:center;
}
nav ul li {
	display:inline-block;
}
nav ul li a {
	color:#333;
	display:inline-block;
	padding:1em 3em;
	text-decoration:none;
	border-bottom:2px solid #fff;
	transition:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
	font-size:16px;
}
nav ul li a:hover {
	color: #34B484;
}
/*styling open close button*/

.logo
{
	width:100%;
	position:fixed;
	z-index:999;
	margin-left:3vw;
	margin-top:2vw;
}
.logo img
{
	width:5vw;
	float:left;
}
.button {
	display:inline;
	position:fixed;
	right:50px;
	top:2vw;
	z-index:999;
	font-size:30px;
	background-color: white;
}
.button a {
	text-decoration:none;
}
.btn-open:after {
	color:#333;
	content:"\f0c9";
	font-family:"FontAwesome";
	transition:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
	color:#34B484;
}
.btn-close:after {
	color:#fff;
	content:"\f00d";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
	color: #34B484;
}
/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:#333;
	overflow:auto;
	z-index:99;
}
.wrap {
	color:#e9e9e9;
	text-align:center;
	max-width:90%;
	margin:0 auto;
}
.wrap ul.wrap-nav {
	border-bottom:1px solid #575757;
	text-transform:capitalize;
	padding:150px 0px 100px;
}
.wrap ul.wrap-nav li {
	font-size:20px;
	display:inline-block;
	vertical-align:top;
	width:24%;
	position:relative;
}
.wrap ul.wrap-nav li a {
	color:#34B484;
	display:block;
	padding:8px 0;
	text-decoration:none;
	transition:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul {
	padding:20px 0;
}
.wrap ul.wrap-nav ul li {
	display:block;
	font-size:13px;
	width:100%;
	color:#e9e9e9;
}
.wrap ul.wrap-nav ul li a {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul li a:hover {
	color:#34B484;
}
.social {
	font-size:25px;
	padding:20px;
}
.social p {
	margin:0;
	padding:20px 0 5px 0;
	line-height:30px;
	font-size:13px;
}
.social p a {
	color:#34B484;
	text-decoration:none;
	margin:0;
	padding:0;
}
.social-icon {
	width:80px;
	height:50px;
	background:#e9e9e9;
	color:#333;
	display:inline-block;
	margin:0 20px;
	transition:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.social-icon:hover {
	background:#34B484;
	color:#f0f0f0;
}
.social-icon i {
	margin-top:12px;
}
.section{
	width:100%;
	height:100%;
}
/*Hero Image*/

.heroWrapper
{
	width:100%;
	height:100%;
}
#heroText
{
	text-align: right;
	position: absolute;
	top: 55%;
	margin-left:67%;
	color: white;
}
.title
{
	margin:0;
	padding-right:20%;
	padding-bottom:0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight:100;
	font-size:7vw;
	color:white;
}
.titleInfo
{
	padding-right:20%;
	display: block;
	font-family:'Raleway', 'Arial', 'Helvetica', 'sans-serif';
	font-weight:100;
	font-size: 1vw;
	color:white;
}
.quote
{
	transform: translate(300, 300) rotate(270deg);
}
.quoteText
{
    transform: rotate(90deg);
	font-family: 'Raleway', 'Arial', 'Helvetica', 'sans-serif';
    color: white;
    font-size: 2.5em;
    position: absolute;
    margin-top: 22%;
    left: -13%;
    -webkit-animation: 2s ease-out 0s 1 title_Slide_Up;
    animation: 2s ease-out 0s 1 title_Slide_Up;
}
.quoteText:hover
{
	background:$primary;
	padding:2%;
	transition: 2s ease-in-out;
}

.short_Slide_Up { 
	animation: short_Slide_Up 1s ease-in-out forwards; 
}

.title_Short_Slide_Up { 
	animation: title_Short_Slide_Up 3s ease-in-out forwards;
}

/*Gallery*/


.illustrate{
	opacity:0;
	transform: translateY(50px);
	transition:all 2s ease-out;
}
.illustrate.fade-in{
	opacity: 1;
	transform: translateY(0);
}
.shortBio
{
	position:relative;
}
.sectionAboutText
{
	font-size:15px;
	font-style:italic;
	float:left;
	margin-top:-15%;
	margin-right:60%;
	margin-left:20%;
	opacity:0;
	transform: translateY(50px);
	transition:all 2s ease-out;
}
.sectionAboutText.fade-in{
	opacity: 1;
	transform: translateY(0);
}
.sectionAboutText:hover
{
	color:grey;
}

.slideContainer
{
	overflow:hidden;
	max-width:1000px;
	height:700px;
	-webkit-box-shadow: 17px 21px 0px 1px $primary;
	-moz-box-shadow: 17px 21px 0px 1px $primary;
	box-shadow: 17px 21px 0px 1px $primary; 
}
.slides
{
	max-width:1000px;
	opacity:0;
	transform: translateY(50px);
	transition:all 2s ease-out;
}
/* .slides :nth-child(1){
	animation-delay: .5s;
}
.slides :nth-child(2){
	animation-delay: 1s;
} */
.slides.fade-in{
	opacity: 1;
	transform: translateY(0);
}
/*SLIDES*/
* {box-sizing:border-box} 

/* Slideshow container */
.slideshow-container {
	max-width: 300px;
	position: relative;
	float:left;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next
{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next
{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
{
	background-color: rgba(0,0,0,0.8);
} 

/* Caption text */
.text
{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
} 

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
} 

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {

}

/*CURRENT PROJECTS*/

.currentProjects
{
	background:#000000;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	overflow:hidden;
	zoom:1;
	color: $primary; 
	font-family:'Helvetica Neue', 'Raleway',Arial, Helvetica, sans-serif;
	width:100%;
	
}

.cpTitle
{
	font-size:25vh;
	float:right;
	clear:right;
	margin-right:10%;
	margin-top:2%;
}
.cpTitle span
{
	color: #333333;
}
.cpTitle:before, .cpTitle:after
{
	content: '';
	position: absolute;
	display: block;
	width: 0%;
	height: 20px;
	margin-top: -0.6em;
	transform-origin: center;
}
.cpTitle:before
{
	left:-2.5px;
}
.cpTitle:after
{
	right:2.5px;
	background:#ffffff;
	transition:width 2s cubic-bezier(0.22,0.61,0.36,1);
}
.cpTitle:hover:after
{
	background:#333333;
	width:75%;
	transition:1s;
}
.contact{
	opacity:0;
	transition:all 2s ease-out;
}
.contact.fade-in{
	opacity: 1;
	transform: translateX(0);
}
/*RESUME*/
.resume
{
	background:#EBEBEB;
	overflow:hidden;
	zoom:1;
	color: grey;
	font-family:'Helvetica Neue', 'Raleway',Arial, Helvetica, sans-serif;
	width:100%;
	height:$full-height;
}
.resumeText
{
	height:10em;
	position: relative;
	top:50%;
	left:30%;
}
.footer
{
	background:#626161;
	overflow:hidden;
	zoom:1;
	color: grey;
	font-family:'Helvetica Neue', 'Raleway',Arial, Helvetica, sans-serif;
	width:100%;
	height:100%;
}
.footerThings
{
	height:2vh;
	position:fixed;
	bottom:0;
} 
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/*MOBILE*/

@media screen and (max-width:100em) {
    .quote{
    }
    .quoteText{
        margin-left:100;
        left:0;
    }
}
@media screen and (max-width:90em) {
    .aboutLine1 svg {}

    .aboutImage {
        margin-top: 250px;
        margin-right: 20%;
    }

    .illustrate {
        font-size: 130px;
    }

    .aboutMain {}

    .shortBio {
        margin-right: 0;
        margin-left: 10%;
    }

    .aboutLine1 {
        margin-left: -120px;
        top: 150px;
    }

    .portHeader {
        margin-right: 15%;
        margin-left: 3%;
    }

    .portHeadContainer {
        margin-top: 10%;
    }
}

@media screen and (max-width: 55em) {
    #heroText {
        text-align: left;
        position: absolute;
        top: 55%;
        margin-left: 0;
        color: white;
    }

    .title {
        margin: 0;
        padding-right: 20%;
        padding-bottom: 0;
        font-family: 'Bebas Neue', cursive;
        font-weight: 100;
        font-size: 20vw;
        color: white;
    }

    .titleInfo {
        padding-right: 20%;
        display: block;
        font-family: 'Raleway', 'Arial', 'Helvetica', 'sans-serif';
        font-weight: 100;
        font-size: 4vw;
        color: white;
    }

    .illustrate {
        font-size: 70%;
    }

    .aboutLine1 {
        display: none;
    }

    .sectionAboutText {
        margin-top: 0%;
        margin-right: 30%;
        margin-left: 0%;
    }

    .aboutImage {
        float: left;
        width: 50%;
        min-width: 350px;
        position: relative;
        box-shadow: none;
    }

    .rowPort {
        display: block;
        margin-top: 7%;
    }

    .columnPort {
        flex: 50%;
    }

    .slideContainer {
        overflow: hidden;
        max-width: 100%;
        height: 600px;
    }

    .slides {
        max-width: 100%;
    }
    .quoteText {
       
    }
} 

/* Portfolio Sections */

/* Style the Image Used to Trigger the Modal */
#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  
@media screen and (max-width:48em) {
    .wrap ul.wrap-nav>li {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #575757;
    }

    .wrap ul.wrap-nav {
        padding: 30px 0px 0px;
    }

    nav ul {
        opacity: 0;
        visibility: hidden;
    }

    .social {
        color: #c1c1c1;
        font-size: 25px;
        padding: 15px 0;
    }

    .social-icon {
        width: 100%;
        height: 50px;
        background: #fff;
        color: #333;
        display: block;
        margin: 5px 0;
    }

    .aboutImage {
        float: none;
    }

}  
@media screen and (max-width:100em) {
    .quote{
    }
    .quoteText{
        margin-left:100;
        left:0;
    }
}
@media screen and (max-width:90em) {
    .aboutLine1 svg {}

    .aboutImage {
        margin-top: 250px;
		margin-right: 20%;
    }

    .illustrate {
        font-size: 130px;
    }

    .aboutMain {}

    .shortBio {
        margin-right: 0;
        margin-left: 10%;
    }

    .aboutLine1 {
        margin-left: -120px;
        top: 150px;
    }

    .titleInfo {
        -webkit-box-shadow: 0px -60px 0px 100px $primary;
        -moz-box-shadow: 0px -60px 0px 100px $primary;
        box-shadow: 0px -60px 0px 100px $primary;
    }

    .portHeader {
        margin-right: 15%;
        margin-left: 3%;
    }

    .portHeadContainer {
        margin-top: 10%;
    }
}

@media screen and (max-width: 55em) {
    #heroText {
        text-align: left;
        position: absolute;
        top: 55%;
        margin-left: 0;
        color: white;
    }

    .title {
        margin: 0;
        padding-right: 20%;
        padding-bottom: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 20vw;
        background: $primary;
        color: white;
    }

    .titleInfo {
        padding-right: 20%;
        display: block;
        font-family: 'Raleway', 'Arial', 'Helvetica', 'sans-serif';
        font-weight: 100;
        font-size: 4vw;
        -webkit-box-shadow: 0px -60px 0px 20px $primary;
        -moz-box-shadow: 0px -60px 0px 20px $primary;
        box-shadow: 0px -60px 0px 20px $primary;
        color: white;
    }

    .illustrate {
        font-size: 70%;
    }

    .aboutLine1 {
        display: none;
    }

    .sectionAboutText {
        margin-top: 0%;
        margin-right: 30%;
        margin-left: 0%;
    }

    .aboutImage {
        float: left;
        width: 50%;
        min-width: 350px;
        positon: relative;
        box-shadow: none;
    }

    .rowPort {
        display: block;
        margin-top: 7%;
    }

    .columnPort {
        flex: 50%;
    }

    .slideContainer {
        overflow: hidden;
        max-width: 100%;
        height: 600px;
    }

    .slides {
        max-width: 100%;
    }
    .quoteText {
       
    }
}


    .wrap ul.wrap-nav>li {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #575757;
    }

    .wrap ul.wrap-nav {
        padding: 30px 0px 0px;
    }

    nav ul {
        opacity: 0;
        visibility: hidden;
    }

    .social {
        color: #c1c1c1;
        font-size: 25px;
        padding: 15px 0;
    }

    .social-icon {
        width: 100%;
        height: 50px;
        background: #fff;
        color: #333;
        display: block;
        margin: 5px 0;
    }
