


  <div class="portfolio section">
    <div class="portfolioMain">
      <div class="rowPort">
        <div class="columnPort">
          <div class="portHeadContainer">
          </div>
          <div class="row">
            <h2>Illustration</h2>
            <a routerLink ="/illustration" routerLinkActive="active"><img class="slides aboutPicture" src="../assets/images/Pardonix-Planes.jpg"></a>
            <h2>Programming</h2>
            <a routerLink ="/programming" routerLinkActive="active"><img class="slides aboutPicture" src="../assets/images/programmingCover.jpg"></a>
            <h2>Design</h2>
            <a routerLink ="/design" routerLinkActive="active"><img class="slides aboutPicture" src="../assets/images/getOutCover.jpg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>