@import '../../../styles.scss';

/*Portfolio Section */

.portfolio
{
    background: $background;
    zoom: 1;
    color: white;
    font-family: "Helvetica Neue", "Raleway", Arial, Helvetica, sans-serif;
    height: $full-height;
    position: relative;
	overflow: hidden;
}
.portHeader
{
	margin-right:25%;
	margin-left:4%;
}
.portHeadContainer
{
	padding-bottom:3%;
}
.portSep
{
	width:10%;
}
.portfolioLine
{
	position:relative;
	margin-left:30%;
	top:100px;
}
.portfolioText
{
	float:right;
	margin-right:10%;
}

img { 
	position: absolute;
    right: 10%;
    top: 5%;
    height: 700px;
    padding: 22px;
    border: 1px solid white;
}

.portfolio-row {
	display: flex;
    flex-direction: column;
    margin: 10% 0 0 10%;
}
.section-wrapper { 
	display: flex;
	flex-direction: row;
	align-items: center;

	h2 { 
		font-size:100px;
	}
}

.lineToInfo { 
	border: 1px solid white;
	width: 300px;
	margin-left: 20px;
	animation:growLineToPortfolioInfo 1s forwards;
}

.infoBoxInfo { 
	position: absolute;
    right: 50%;
    padding: 10px;
    border: 1px white solid;
}

.quote
{
    z-index: 1000;
    position: relative;
	transform: translate(300, 300) rotate(270deg);
}
.quoteText
{
    transform: rotate(90deg);
	font-family: 'Raleway', 'Arial', 'Helvetica', 'sans-serif';
    color: white;
    font-size: 2.5em;
    left: -207px;
    position: absolute;
    top:45vh;
    
    &.quoteTextNoLoop { 
        animation:initial_Title_Slide_Down 7.3s forwards linear;
        animation-delay: 3s;
    }
    
    &.quoteTextLoop { 
        top:-45vh;
        animation:title_Slide_Down 10s infinite; 
        animation-timing-function: linear;
    
        &:nth-child(3) {
            animation-delay:3.3s;
        }
        
        &:nth-child(4) {
            animation-delay:6.67s;
        }
    }
}

@media only screen and (max-width: 549px) {

    .quoteText { 
        left:-174px;
        font-size: 30px;
    }

    .section-wrapper h2 { 
        font-size: 30px;
    }
}
