@import '../../../styles.scss';

/*Portfolio Section */

.portfolio
{
    background: $background;
    zoom: 1;
    color: white;
    font-family: "Helvetica Neue", "Raleway", Arial, Helvetica, sans-serif;
    height: $full-height;
    position: relative;
}
.portHeader
{
	margin-right:25%;
	margin-left:4%;
}
.portHeadContainer
{
	padding-bottom:3%;
}
.portSep
{
	width:10%;
}
.portfolioLine
{
	position:relative;
	margin-left:30%;
	top:100px;
}
.portfolioText
{
	float:right;
	margin-right:10%;
}

img { 
	position: absolute;
    right: 10%;
    top: 5%;
    height: 700px;
    padding: 22px;
    border: 1px solid white;
}

.portfolio-row {
	display: flex;
    flex-direction: column;
    margin: 10% 0 0 10%;
}
.section-wrapper { 
	display: flex;
	flex-direction: row;
	align-items: center;
}

.lineToInfo { 
	border: 1px solid white;
	width: 300px;
	margin-left: 20px;
}

.infoBoxInfo { 
	position: absolute;
    right: 50%;
    padding: 10px;
    border: 1px white solid;
}