<!-- <div class="contact-wrapper" [ngStyle]="fixFooter()">  -->
<div class="contact-wrapper"> 
    <div class="contact-table-wrapper"> 
        <div class="contact-list">
            <ul class="col-lg-4"> 
                <li>Brendon Reynolds</li>
                <li>Brendon@KidAnimal.com</li>
                <li>Twitch.tv/kid_animal</li>
                <li>Pennsylvania, US</li>
            </ul>
            <ul class="col-lg-4"> 
                <li>Software Engineer</li>
                <li>Illustrator/Designer</li>
                <li>Twitch Streamer</li>
            </ul>
        </div>
    </div>
    <div class="logo-section"> 

    </div>
</div>
<div class="small-contact-wrapper" [ngStyle]="fixedFooter()">
    <div class="small-contact-list">
        <span>Brendon Reynolds | Brendon@KidAnimal.com | 
            <a href="https://www.twitch.tv/kid_animal" class="textLink">Twitch</a>
        </span>
    </div>
</div>