<div class="conact-wrapper"> 
    <div class="contact-table-wrapper"> 
        <div class="conact-list">
            <ul class="col-lg-4"> 
                <li>Hello</li>
                <li>Hello</li>
                <li>Hello</li>
                <li>Hello</li>
            </ul>
            <ul class="col-lg-4"> 
                <li>Hello</li>
                <li>Hello</li>
                <li>Hello</li>
                <li>Hello</li>
            </ul>
        </div>
    </div>
    <div class="logo-section"> 

    </div>
</div>