@import '../../styles.scss';

.contact-wrapper { 
    display: flex;
    justify-content: flex-end;
    padding: 50px 200px 50px 50px;
    background: #636363;
    height: 210px;
    color: lightgrey; 
    text-align: right;
}

.contact-table-wrapper { 
    padding: 50px;
}

.contact-list { 
    display: flex;
    ul { 
        list-style-type: none;
    }
}

.small-contact-wrapper { 
    display: flex;
    justify-content: flex-end;
    background: #636363;
    height: 50px;
    width:100%;
    color: lightgrey; 
    text-align: right;
}

.small-contact-table-wrapper { 
    padding: 50px;
}

.small-contact-list { 
    display: flex;
    margin: auto 2%;
    ul { 
        font-family: 'Roboto';
        list-style-type: none;
    }
    span a {
        text-decoration: none;
        color:lightgrey;

        &:hover { 
            color: $secondary;
        }
    }
}