$primary: #D46A6A;
$full-height: 100vh;
$background: black;

.contact-wrapper { 
    display: flex;
    justify-content: flex-end;
    padding: 50px 200px 50px 50px;
    background: black;
    height: 210px;
    color: lightgrey; 
    text-align: right;
}

.contact-table-wrapper { 
    padding: 50px;
}

.contact-list { 
    display: flex;
    ul { 
        list-style-type: none;
    }
    li {
        // margin-bottom:10px;
    }
}