@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Arapey");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import '../src/app/master_scss/_master.scss';
@import '../src/app/master_scss/_variables.scss';
@import '../src/app/master_scss/_animations.scss';

body { 
    background-image: url('/KidAnimal/src/assets/images/kid_Animal_BG.png');
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}