@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Arapey");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import '../src/app/master_scss/_master.scss';
@import '../src/app/master_scss/_variables.scss';
@import '../src/app/master_scss/_animations.scss';

html, h1, h2, #viewPort { 
  padding: 0; 
  margin: 0;
}

body { 
    background-image: url('/KidAnimal/src/assets/images/kid_Animal_BG.png');
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $secondary lightgrey;
  }
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  *::-webkit-scrollbar-track {
    background: none;
    visibility: hidden;
  }
  *::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 20px;
  }