<!-- <div class="blankDiv"></div> -->
<hr [style.height] = "getHeight('starting')" id="starting-line"/>
<hr [style.height] = "getHeight('ending')" id="ending-line"/>
<div class="mainArea section">
    <div class="quote">
      <span class="quoteText quoteTextNoLoop">Out there somewhere probably failing...</span>
      <span class="quoteText quoteTextLoop">Out there somewhere probably failing...</span>
      <span class="quoteText quoteTextLoop">Out there somewhere probably failing...</span>
      <span class="quoteText quoteTextLoop">Out there somewhere probably failing...</span>
    </div>
    <app-navbar></app-navbar>
    <div class="heroWrapper">
      <div class="heroImageWrapper">
        <div class="heroImage" [ngClass]="(scrollHeight > 100) ? 'fade-out': (scrollPassedPoint ? 'fade-in':'')"></div>
          <!-- <div id="heroText" class="scrollElement" #scrollElement [ngStyle]="titleStyle(0.5)"> -->
            <div
              id="vFar-long-fast"
              class="heroText scrollElement"
              #scrollElement
              >
              <h1 class="title"><div >Kid</div><div>Animal</div></h1>
              <span class="titleInfo">Illustration | Design | Programming</span>
            </div>
        </div>
     </div>
    </div>
