@import url("../../app.component.scss");

$primary: #D46A6A;
$full-height: 100vh;
$background: #0D0D0D;

/*Hero Image*/

.yo { 
	// color:$test-color;
}
.heroWrapper
{
	width:100%;
	height:100%;
}
#heroText
{
	text-align: right;
	position: absolute;
	top: 55%;
	margin-left:67%;
	color: white;
}
.title
{
	margin:0;
	padding-right:20%;
	padding-bottom:0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight:100;
	font-size:7vw;
	color:white;
}
.titleInfo
{
	padding-right:20%;
	display: block;
	font-family:'Raleway', 'Arial', 'Helvetica', 'sans-serif';
	font-weight:100;
	font-size: 1vw;
	color:white;
}
.quote
{
	transform: translate(300, 300) rotate(270deg);
}
.quoteText
{
    transform: rotate(90deg);
	font-family: 'Raleway', 'Arial', 'Helvetica', 'sans-serif';
    color: white;
    font-size: 2.5em;
    position: absolute;
    margin-top: 22%;
    left: -13%;
    -webkit-animation: 2s ease-out 0s 1 title_Slide_Up;
    animation: 2s ease-out 0s 1 title_Slide_Up;
}
.quoteText:hover
{
	background:$primary;
	padding:2%;
	transition: 2s ease-in-out;
}
.heroImage { 
    height: 100vh;
    background-image: url('../../../assets/images/hero_image.jpg');
    z-index: 100;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}