@import '../../../styles.scss';

/*Hero Image*/

.heroWrapper
{
	width:100%;
	height:100%;
}
#heroText
{
	text-align: right;
	position: absolute;
	bottom: 40px;
    right: 90px;
	color: white;
	border-right: 1px solid white;
    width: 500px; 
    padding-right:2%;
}

.title div
{
    visibility: hidden;
	margin:0;
	padding-bottom:0;
	font-family: 'Bebas Neue', cursive;
	font-weight:100;
	font-size:130px;
	color: $primary;
    line-height: 120px;
    animation:slide-from-left 2s forwards;
    
    &:last-child {
        animation-delay: 1s;    
    }
}

.titleInfo
{
	display: block;
	font-family:'Raleway', 'Arial', 'Helvetica', 'sans-serif';
	font-weight:100;
	font-size: 19px;
	color:white;
    line-height: 0;
}
.quote
{
    z-index: 1000;
    position: relative;
	transform: translate(300, 300) rotate(270deg);
}
.quoteText
{
    transform: rotate(90deg);
	font-family: 'Raleway', 'Arial', 'Helvetica', 'sans-serif';
    color: white;
    font-size: 2.5em;
    left: -241px;
    position: absolute;
    top:45vh;
    
    &.quoteTextNoLoop { 
        animation:initial_Title_Slide_Down 7.3s forwards linear;
        animation-delay: 3s;
    }
    
    &.quoteTextLoop { 
        top:-45vh;
        animation:title_Slide_Down 10s infinite; 
        animation-timing-function: linear;
    
        &:nth-child(3) {
            animation-delay:3.3s;
        }
        
        &:nth-child(4) {
            animation-delay:6.67s;
        }
    }
}

.heroImage { 
    height: 100vh;
    background-image: url('../../../assets/images/hero_image.jpg');
    z-index: 100;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mainArea { 
	background-image: url('../../../assets/images/kid_Animal_BG.png');
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

// .centerTriangle img { 
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     margin: 10% auto auto auto;
// }

// .centerText { 
//     position:absolute;
//     font-size:20px; 
//     font-family:'Roboto';
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     margin: auto;
// }

.fade-out { 
	animation: fadeOut 1s forwards;
}

.fade-in { 
	animation: fadeIn 1s forwards;
}

.title_Slide_Up { 
	animation: title_Slide_Up 2s ease-in-out forwards;
}

.lightLeaksVideo {
    z-index: 1000;
    position: absolute;
    top:0;
}

@media only screen and (min-width: 1224px) { }
@media all and (min-width: 850px) and (max-width: 1024px) {}
@media only screen and (min-width: 550px) and (max-width: 849px) {}

@media only screen and (max-width: 549px) {

    #heroText { 
        bottom: 150px;
        right: 55px;
    }
    
    .quoteText { 
        left: -200px;
        font-size: 30px;
    }

    .title { 
        margin-bottom:0px;
            
        div { 
                font-size: 90px;
                line-height: 85px;
            }
    }

    .titleInfo { 
        font-size:13px;
    }
}