<div class="blankDiv"></div>
<div class="mainArea section">
    <div class="quote">
      <div class="pageBlockOne"></div>
      <span class="quoteText">Out there somewhere probably failing...</span>
    </div>
    <app-navbar></app-navbar>
    <div class="heroWrapper">
      <div class="heroImageWrapper">
        <div class="heroImage"></div>
          <div id="heroText">
            <h1 class="title">Kid Animal</h1>
            <span class="titleInfo">Illustration | Design | Programming</span>
          </div>
        </div>
     </div>
    </div>