<div class="mainArea section">
  <div class="quote">
    <span class="quoteText">Out there somewhere probably failing...</span>
  </div>
  <div class="heroWrapper">
    <div class="heroImage">
      <div id="heroText">
        <h1 class="title">Kid Animal</h1>
        <span class="titleInfo">Illustration | Design | Programming</span>
      </div>
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
<div class="about section">
  <div class="aboutSection">
    <div class="aboutMain">
      <h2 class="illustrate">Illustrating Earth</h2>
    </div>
    <div class="aboutImage_Wrapper">
      <img class="aboutImage" src='../assets/images/portfolio_6.jpg' alt="Sorna" />
    </div>
    <div>
      <svg class="aboutLine1" height="500" width="400">
        <line class="line1" x1="300" y1="0" x2="300" y2="2000" style="stroke:white;stroke-width:8" />
      </svg>
    </div>
    <div class="shortBio">
      <span class="sectionAboutText">As an artist from the time I was little I have gone
        through many phases.
        I have studied in school, through others, and have learned much along the way.
        Throughout the years I have picked up many skills including illustration, programming, design, 3D modeling ect.
      </span>
    </div>
  </div>
</div>
<div class="portfolio section">
  <div class="portfolioMain">
    <div class="rowPort">
      <div class="columnPort">
        <div class="portHeadContainer">
        </div>
        <div class="row">
          <div class="column">
            <h2>Illustration</h2>
            <a routerLink ="/illustration" routerLinkActive="active"><img class="slides aboutPicture" src="../assets/images/Pardonix-Planes.jpg"></a>
          </div>
          <div class="column">
            <h2>Programming</h2>
            <a routerLink ="/programming" routerLinkActive="active"><img class="slides aboutPicture" src="../assets/images/programmingCover.png"></a>
          </div>
          <div class="column">
            <h2>Design</h2>
            <a routerLink ="/design" routerLinkActive="active"><img class="slides aboutPicture" src="../assets/images/getOutCover.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="currentProjects section">
</div>
<div class="contact section">
  <div class="contactContainer">
    <span>Contact Me At:</span>
    <span>Brendon@kidanimal.com</span>
    <span>instagram: @kid_animal</span>
    <span>facebook: Kid Animal</span>
  </div>
</div>

