@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Arapey");
@import url("../app.component.css");

.design{
    background:black;
}
#comingSoon{
    font-size:300px;
    color:white;
}