@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Arapey");
@import url("../app.component.css");

.row{
    margin-top:100px;
}
.column h2{
    margin-left: 30%;
}
.contact{
    height:100vh;
    color:white;
    font-family:'Raleway';
    font-size:30px;
    
}
.contactContainer{
    position: absolute;
    margin-left:70%;
    margin-top:30%;
}
.contactContainer span{
    white-space: initial;
    display: block;
}
.deleteThisLater{
    margin-left:300px;
    margin-right:300px;
    position:center;
    transform: rotate(90);
    font-size:40px;
    text-decoration-style: none;
}